@import "tailwindcss";

*{
    color: #fff;
}
body{
    background-color: #111;
}
#TaskListcards::-webkit-scrollbar{
   background-color: transparent;
   height: 5px;
}
/* #TaskListcards::-webkit-scrollbar-thumb{

} */